<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% block title %}
    <title>Inventory</title>
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  ///////////////////////////////////////////////////////////////////////////////////////////////
  /////////////////// set a custom X-CSRFToken header to the value of the CSRF token. //////////
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
    //Setting the token on the AJAX request
  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
  //////////////////////////////CSRF-token set end/////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////

  $(document).ready(function(){
    $(".li_hidden").slice(0,4).show();

    $(".show_more").click(function()
    {
        console.log("i am insdie")
      $("li[style*='display:none']").slice(0,3).show();
    });
  });
    function Delete(prodid,log_id){
      $.post('/inventory/delete',{prodid:prodid}, function(){
        console.log("delete success !");
        window.location.replace(`/inventory/${log_id}`);
      });
    }

    function Edit(prodid,log_id){
      $('#action_'+prodid).html(`&nbsp&nbsp&nbsp&nbsp <span class='glyphicon glyphicon-floppy-disk' onclick='Save(${prodid},${log_id})'></span>`);
      $('#action_'+prodid).siblings("td[class*='editable']").attr('contentEditable',true);
      $('#action_'+prodid).siblings(".selectable_container").html(`<select>
                                                                        <option value="0.74">740ml bottle<option>
                                                                        <option value="3.86">1 gallon jug<option>
                                                                        <option value="20">20 liters pail<option>
                                                                  </select>
                                                                    `);
      $('#action_'+prodid).siblings(".selectable_location").html(`<select>
                                                                        <option value="LR-WC1">LR-WC1<option>
                                                                        <option value="LR-WC2">LR-WC2<option>
                                                                        <option value="PP-REFRIG1">PP-REFRIG1<option>
                                                                        <option value="PP-REFRIG2">PP-REFRIG2<option>
                                                                        <option value="PP-REFRIG3">PP-REFRIG3<option>
                                                                  </select>
                                                                    `)

    }


    function Save(prodid,log_id){
        $('#action_'+prodid).html(`<span class="glyphicon glyphicon-pencil text-success" onclick="Edit(${prodid},${log_id})"></span>
        <span class="glyphicon glyphicon-trash text-warning" onclick="Delete(${prodid},${log_id})"></span>`);
        // $('#action_'+prodid).siblings(`td[class*='editable']`).attr('contentEditable',false);
        //   $('#action_'+prodid).siblings(`.selectable_location`).html(`<a href="/inventory/location/{{element.location}}">{{element.location}}</a>`)
        var data = new Array();

        $('#action_'+prodid).siblings(`td[class*='able']`).each(function(){
          if($(this).attr("class").indexOf("selectable") != -1)
          {
            var td = $(this).children().val();
          }
          else {
            var td = $(this).html();
          }



          data.push(td);
        });
        var text;
        var person = prompt("Please enter the name who make action to this product:");
        var date = prompt("Please enter the date of action:","mm/dd/yyyy");
        if (person == null || person == "") {
          txt = null;
        } else if(date != null && date != ""){
            txt = person;
            data.push(text);
            data.push(date);
            $.post('/inventory/edit',{data:JSON.stringify(data),prodid:prodid},function(){
              alert("Change has been saved!");
              window.location.replace(`/inventory/${log_id}`);
            })
        }
        console.log(data);
        console.log(prodid);

    }
  </script>
  {% load static %}

</head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="https://www.raasnutritionals.com/pages/about-us">About Us</a></li>
          <li><a href="https://www.raasnutritionals.com/pages/contact">Contact Us</a></li>
          <li><a href="http://www.kieuhoangwinery.com/">Napa Valley</a></li>
          <li><a href="https://www.hummingbirdnestranch.com/">Humingbird</a></li>
          <li><a href="http://www.raas-corp.com/page.aspx?node=95&f=en">Shanghai RAAS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/profile/{{request.session.log_id}}"><span class="glyphicon glyphicon-user"></span> {{request.session.log_name}}</a></li>
          {% block nav %}
          {% endblock %}
          <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
    {% block body %}
    {% endblock %}

  </body>
</html>
