{% extends './base.html' %}
{% block title %}
<title>Inventory</title>
{% endblock %}

{%block body %}
<div class="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Lot Number</th>
        <th>Location</th>
        <th>Container</th>
        <th>Net Quantity</th>
        <th>Partial Quantity</th>
        <th>Total Quantity</th>
        <th>MFG date</th>
      </tr>
    </thead>
    <tbody>
      {% for element in invens %}
        <tr>
          <td><a href="/inventory/product_name/{{element.name}}">{{element.name}}</a></td>
          <td>{{element.lot_num}}</td>
          <td><a href="/inventory/location/{{element.location}}">{{element.location}}</a></td>
          <td>{{element.container}}</td>
          <td>{{element.net_quantity}}</td>
          <td>{{element.pnet_quantity}}</td>
          <td>{{element.tquantity}}</td>
          <td>{{element.mfg_date}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br><br><br>
  {% if log_user.userprofile.level == 2 %}
    <div class="col-sm-4 col-sm-offset-10">
        <a href="/update_page/{{request.session.log_id}}"><button type="button" class="btn btn-primary" name="button">Update Inventory</button></a>
    </div>
  {% endif %}


</div>
{% endblock %}
