{% extends './base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  <title>{{products.0.lot_num}}</title>
{% endblock %}

{% block nav %}
<li><a href="/inventory/{{request.session.log_id}}"><span class="glyphicon glyphicon-book"></span> Dashboard</a></li>
{% endblock %}
{% block body %}
{% load static %}
<h2 style="margin-top:80px">{{products.0.name}}</h2>
  <div class="container">
    <table class="table table striped">
      <thead>
        <tr>
          <th>Location</th>
          <th>Container</th>
          <th>Net Quantity</th>
          <th>Partial Quantity</th>
          <th>Total Quantity</th>
          <th>MFG date</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td><a href="/inventory/location/{{product.location}}">{{product.location}}</a></td>
            <td>{{product.container}}</td>
            <td>{{product.net_quantity}}</td>
            <td>{{product.pnet_quantity}}</td>
            <td>{{product.tquantity}}</td>
            <td>{{product.mfg_date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
      <div class="col-sm-4 col-sm-offset-3">
        <form class="" action="/inventory/action/{{products.0.lot_num}}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{action_form|crispy}}
          <div class="col-sm-4 col-sm-offset-8">
              <input type="submit" class="btn btn-primary" name="button" value="Pull-out/Return"></button>
          </div>
        </form>
      </div>
      <div class="col-sm-10 col-sm-offset-3">
        <h2>History</h2>
        {% for product in products %}
          {% if product.history.all %}
            <ul id="history">
              {% for action in product.history.all %}

                {% if action.net_quantity < 0 %}
                  <a><li id="{{action.id}}"style="font-size:130%;display:none;" class="li_hidden">{{action.actioner.first_name}} <code>pull outs</code> {{action.net_quantity}} * {{action.container }}&nbsp;plus {{action.pnet_quantity}}, total {{action.tquantity}}, <code>from {{product.location}}</code> at {{action.date}}</li></a>
                {% else %}
                <a><li id="{{action.id}}" style="font-size:130%;display:none;" class="li_hidden">{{action.actioner.first_name}} <code>returns</code> {{action.net_quantity}} * {{action.container }}&nbsp;plus {{action.pnet_quantity}}, total {{action.tquantity}},<code>from {{product.location}}</code> at {{action.date}}</li></a>
                {% endif %}

              {% endfor %}
            {% endif %}
        {% endfor %}
          </ul>
          <a href="#" class="show_more"><u >Show more ... </u></a>
      </div>
      <br/>
</div>
<script>
  $(document).ready(function(){
    $("#history li").click(function(){
      console.log("i am here");
      var id = $(this).attr('id');
      console.log(id);
      window.open(`/action/document/${id}`,'Requisition form');
    });
  });
</script>
{% endblock %}
