<!DOCTYPE html>
{% extends './base.html'%}
{% load crispy_forms_tags %}
{% block nav %}
<li><a href="/inventory/{{log_user.id}}"><span class="glyphicon glyphicon-book"></span> Dashboard</a></li>
{% endblock %}
{% block title %}
    <title>Update</title>
{% endblock %}

{% block body %}
    <div class="container" style="margin-top:80px">
      <div class="col-sm-4">
        <form class="form-horizontal" action="/update" method="post">
            {% csrf_token %}
            {{update_form|crispy}}
            <input type="submit" class='btn btn-success' name="sumbit" value="Update">
        </form>
      </div>
    </div>
    {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
